# @file .aliases
# ★  Carrybag aliases
# @author Alister Lewis-Bowen <alister@different.com>
# @see .bashrc

alias rm='rm -i'                    # confirm any delete
alias ls='ls -F'                    # show dirs, exec and sym link files

alias sourcep="source ~/.bashrc"    # @usage sourcep ... source carrybag dot files
alias jump='. ~/bin/jump'           # @usage jump bookmark ... jump to bookmarked directories
alias gs='git status -s'            # @usage gs ... git status summary
alias gd='git diff'                 # @usage gd ... git diff
alias gds='git diff --staged'       # @usage gds ... git diff of staged changes
alias ga="git add $*"               # @usage ga files ... git add
alias gc="git commit -m$*"          # @usage gc comment ... git commit
alias webstart="python -m SimpleHTTPServer $*"  # @usage webstart ... instant httpd from current dir

#
# @usage allogs ... (all-logs) tail all logs under /var/log
#

alias allogs="sudo find /var/log -type f -exec file {} \; | grep 'text' | cut -d' ' -f1 | sed -e's/:$//g' | grep -v '[0-9]$' | xargs tail -f"

#
# @usage wwwerror ... tail just the httpd error log
#

[ -e /var/log/httpd/error_log ] && alias wwwerror="sudo tail -f /var/log/httpd/error_log"

#
# @usage hosts ... edit the /etc/hosts file using rcs
#

alias hosts="sudo co -l /etc/hosts; sudo vim /etc/hosts; sudo ci /etc/hosts; sudo co /etc/hosts; sudo cp /etc/hosts /Users/$USER/Resources/Configurations/hosts"

#
# Additional alias customizations/overrides
#

[ -f ~/.aliases_local ] && . ~/.aliases_local
