# @file .exports
# ★  Carrybag exports
# @author Alister Lewis-Bowen <alister@different.com>
# @see .bashrc

#
# Paths
#

export PATH=.:$HOME/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:$PATH
export MANPATH=/usr/local/man:$MANPATH

#
# Prompt
#

export PS1="[\u@\h \W] $";

#
# Colors
#

[ -e dircolors ] && export `dircolors`;

#
# Editor
#

export EDITOR='vi'  # set default to vi
set -o vi           # set vi history

#
# Additional export customizations/overrides
#

[ -f ~/.exports_local ] && . ~/.exports_local
