[submodule "dot_files/.thirdpartypackages/solarized"]
	path = dot_files/.thirdpartypackages/solarized
	url = git://github.com/altercation/solarized.git
[submodule "dot_files/.thirdpartypackages/jshint.vim"]
	path = dot_files/.thirdpartypackages/jshint.vim
	url = git://github.com/walm/jshint.vim.git
[submodule "dot_files/.thirdpartypackages/vim-markdown"]
	path = dot_files/.thirdpartypackages/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "dot_files/.thirdpartypackages/actionscript.vim"]
	path = dot_files/.thirdpartypackages/actionscript.vim
	url = git://github.com/vim-scripts/actionscript.vim.git
[submodule "dot_files/.thirdpartypackages/nerdtree"]
	path = dot_files/.thirdpartypackages/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
