[submodule "preferences/gnome-terminal/gnome-terminal-colors-solarized"]
	path = preferences/gnome-terminal/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
