[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
[credential]
    helper = cache --timeout=3600
[mergetool]
    keepBackup = true
[push]
    default = matching
[http]
    postBuffer = 524288000
